# Terraform state files
*.tfstate
*.tfstate.*

# Terraform working directory
.terraform/

# Terraform variable files
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI config files
.terraformrc
terraform.rc
